{%extends 'index.html'%}

{%block title%}Crear Producto{%endblock%}

{%block content%}
<body>
 <!-- Estilos propios -->
    <style>
        .caja{
            margin:10%;
            margin-left: 30%;
            margin-right: 30%;
        }

        .caja h3 {
            text-align: center;
            padding: 0 0 20px 0;
            border-bottom: 1px solid #76571E;
            }


    </style>

 <!-- Formulario crear productos -->
<div class="caja">
    <h1 class="mt-5 mb-3">Crear Producto</h1>

    <form action="/products" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Nombre del Producto</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Categoria del Producto (snack, lifestyle, complementos)</label>
            <textarea class="form-control" id="category" name="category" required></textarea>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descripción del Producto</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Precio del Producto</label>
            <input type="number" step="0.01" class="form-control" id="price" name="price" required>
        </div>
        <input type="file" placeholder="image" name="image">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>



{%endblock%}